.place__title {
  padding: 0 71px;
  margin: 0;
  font-size: 31px;
  line-height: 1.1;
  font-weight: 700;
  transition: font-size line-height padding .1s ease;
}

@media screen and (max-width: 1280px) {
  .place__title {
    font-size: 26px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 1024px) {
  .place__title {
    padding: 0 32px;
    font-size: 20px;
    line-height: 1.25;
  }
}
