.section__paragraph {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 1.57;
  font-weight: 500;
  letter-spacing: -0.45px;
  transition: font-size line-height .1s ease;
}

@media screen and (max-width: 870px) {
  .section__paragraph {
    font-size: 11px;
    line-height: 1.5;
  }
}
