.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 52px 69px 0;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 32px 32px 0;
  }
}

@media screen and (max-width: 460px) {
  .header{
    padding: 20px 20px 0;
  }
}