.header_bottom-gap_small {
  margin-bottom: 86px;
}

@media screen and (max-width: 1023px) {
  .header_bottom-gap_small {
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 460px) {
  .header_bottom-gap_small{
    margin-bottom: 30px;
  }
}