.place__text {
  padding-left: 71px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: gap padding-right padding-left padding .1s ease;
  max-width: 380px;
}

@media screen and (max-width: 1023px) {
  .place__text {
    max-width: 100%;
    padding: 0 32px;
  }
}

@media screen and (max-width: 460px) {
 .place__text{
    padding: 0 20px;
 }
}
