.section_bottom-gap_normal {
  margin-bottom: 132px;
}

@media screen and (max-width: 1024px) {
  .section_bottom-gap_normal {
    margin-bottom: 66px;
  }
}
@media screen and (max-width: 460px) {
  .section_bottom-gap_normal{
    margin-bottom: 0px;
  }
}
