.opinion__text {
  max-width: 405px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  transition: gap .1s ease;
}

@media screen and (max-width: 1279px) {
  .opinion__text {
    gap: 26px;
  }
}

@media screen and (max-width: 460px) {
  .opinion__text{
    gap: 12px;
  }
}
