.cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 71px;
  transition: padding .1s ease;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0 32px;
  }
}

@media screen and (max-width: 460px) {
  .cover{
    grid-template-columns: 100%;
    padding: 0;
  }
}