.cover__image {
  width: 356px;
  aspect-ratio: 1 / 1;
  margin-left: 135px;
  margin-right: auto;
  object-fit: cover;
  transition: margin .1s ease;
}

@media screen and (max-width: 1280px) {
  .cover__image {
    margin-left: 86px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__image {
    margin-left: 36px;
    max-width: 300px;
  }
}
