.footer {
  width: 100vw;
  max-width: 1280px;
  min-height: calc(50vw - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fecda7;
}
