.section__text {
  max-width: calc(100vw/2 - 71px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  transition: gap .1s ease;
}

@media screen and (max-width: 1280px) {
  .section__text {
    gap: 26px;
  }
}

@media screen and (max-width: 1024px) {
  .section__text {
    max-width: calc(100vw/2 - 32px);
  }
}
