.section__subtitle {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.1;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 700;
  color: #fecda7;
  text-transform: uppercase;
  transition: font-size line-height .1s ease;
}

@media screen and (max-width: 1280px) {
  .section__subtitle {
    font-size: 11px;
  }
}
